$dark-purple: #1E244D;
$light-purple: #8970E0;
$pink: #C9A2C1;
$white: #D3E5FF;
$yellow: #ecec0f;
$orange: #f3a700;

$screen-mobile-small: 320px;
$screen-mobile-medium: 480px;
$screen-mobile-large: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1300px;
