@use "sass:color";
@use "reset";
@use "variables";
@use "fonts";
@use "spacing";

:root {
  font-size: max(calc(900vw / 1280), 8px);
  font-family: fonts.$quicksand;
  color: variables.$white;
}

html {
  min-height: 100vh;
}

//@media screen and (max-width: $screen-mobile-large){
//  :root {
//    font-size: 8px;
//  }
//}
//
//@media screen and (min-width: $screen-mobile-large) {
//  :root {
//    font-size: 15px;
//  }
//}

body {
  font-size: 2rem;
  min-height: 100vh;
  background-color: variables.$dark-purple;
}

h1,h2,h3 {
  font-family: fonts.$orbitron;
  font-weight: fonts.$medium-weight;
  line-height: 1.25;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

.sem-h-small {
  font-family: fonts.$orbitron;
  font-weight: fonts.$regular-weight;
  font-size: 3rem;
  color: variables.$white;
  line-height: 1.25;
}

.center {
  text-align: center;
}

.rotate45 {
  rotate: 45deg;
}
.rotate180 {
  rotate: 180deg;
}
.shown {
  display: block !important;
}
.light-purple {
  color: variables.$light-purple !important;
}
.light-purple-d3 {
  color: color.adjust(variables.$light-purple,$lightness: -2%) !important;
}

.dark-purple {
  color: variables.$dark-purple !important;
}

.faq-answer {
  display:none;
  padding: 1.5em;

  a {
    color: color.adjust(variables.$orange, $lightness: 9%);
    font-weight: fonts.$medium-weight;

  }
  a:hover {
    color: variables.$white;
  }
}

.orange {
  color: variables.$orange;
}

.red {
  color: #f3452e;
}

b {
  font-weight: fonts.$heavy-weight;
}